<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title></title>
    <link href="{{ static_url('dist/css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ static_url('css/dashboard.css') }}" rel="stylesheet">
    <script src="{{ static_url('js/analogClock.js') }}"></script>
    <script src="https://cdn.bootcss.com/echarts/4.2.0-rc.1/echarts-en.min.js"></script>
    <script src="{{ static_url('echarts-liquidfill/echarts-liquidfill.min.js') }}"></script>
</head>

<body>

<div class="row">

    <div class="col-md-12">
        <div class="card text-white bg-dark mb-3">
            <div class="card-header">空气温湿度数据实时显示（空气传感器1）</div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-6 pad-left">
                        <div class="border border-white">{% raw data['kongqiwen'] %}</div>
                    </div>
                    <div class="col-md-6 pad-right">
                        <div class="border border-white">{% raw data['kongqishi'] %}</div>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <div class="col-md-12">
        <div class="card text-white bg-dark mb-3">
            <div class="card-header">土壤温湿度数据实时显示</div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-6 pad-left">
                        <div class="border border-white">{% raw data['turangwen'] %}</div>
                    </div>
                    <div class="col-md-6 pad-right">
                        <div class="border border-white">{% raw data['turangshi'] %}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <div class="card text-white bg-dark mb-3">
            <div class="card-header">光照数据实时显示</div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-12 pad-right">
                        <div class="border border-white">{% raw data['guangzhao'] %}</div>

                    </div>
                </div>
            </div>
        </div>
    </div>

</div>


<script src="https://cdn.bootcss.com/lazysizes/4.0.2/lazysizes.min.js"></script>
<!--导入sockjs-client-->
<script src="https://cdn.bootcss.com/sockjs-client/1.3.0/sockjs.min.js"></script>
<script src="{{ static_url('js/monitor.js') }}"></script>
<script>
    AnalogClock("clock", new AnalogClockOption(200, "#eee", "#333"));
</script>
</body>
</html>
