{% extends "layout.html" %}
{% block head %}
<script src="{{ static_url('echarts-liquidfill/echarts-liquidfill.min.js') }}"></script>
{% end %}
{% block content %}
<div class="row">

    <div class="col-md-12">
        <div class="card text-white bg-dark mb-3">
            <div class="card-header">空气温湿度数据实时显示（空气传感器1）</div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-6 pad-left">
                        <div class="border border-white">{% raw data['kongqiwen'] %}</div>
                    </div>
                    <div class="col-md-6 pad-right">
                        <div class="border border-white">{% raw data['kongqishi'] %}</div>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <div class="col-md-12">
        <div class="card text-white bg-dark mb-3">
            <div class="card-header">土壤温湿度数据实时显示</div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-6 pad-left">
                        <div class="border border-white">{% raw data['turangwen'] %}</div>
                    </div>
                    <div class="col-md-6 pad-right">
                        <div class="border border-white">{% raw data['turangshi'] %}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <div class="card text-white bg-dark mb-3">
            <div class="card-header">光照数据实时显示</div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-12 pad-right">
                        <div class="border border-white">{% raw data['guangzhao'] %}</div>

                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
{% end %}